/* Use CSS variables for consistent styling */
:root {
  --font-family: SF Pro Rounded;
  --font-size: 16px;
  --line-height: 24px;
  --font-weight: 400;
  --text-color: #e9e9e9;
  --background-color: #202124;
}

/* Reset styles and set box-sizing */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size);
  line-height: var(--line-height);
  font-weight: var(--font-weight);
  color: var(--text-color);
  background-color: var(--background-color);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* Center the main content */
main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
}

/* Style the container */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

/* Style inputs and buttons */
input {
  font-size: var(--font-size);
  width: 100%;
  padding: 0.5rem;
  outline: none;
  background-color: transparent;
  color: inherit;
}

/* Media query for dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    --text-color: #f6f6f6;
    --background-color: #202124;
  }
}
